.card-bloks-shadow {
    box-shadow: 0 0 3px 1px #5d5d5d4f;
    border: 0 !important;
    margin-bottom: 2rem;
}

.custom-checkbox>label {
    cursor: pointer;
}

/* Table */

.symbol-token {
    font-size: 23px;
    color: #03921ba1;
    font-weight: 900;
}

.symbol-proxy {
    font-size: 23px;
    color: #adadad9e;
    font-weight: 900;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #3a89ff;
    background-color: #3a89ff;
}

table#mainTable {
    margin-bottom: 0;
    text-align: center;
}

table#mainTable thead th,
table#mainTable tbody td {
    vertical-align: middle;
}

.calc-spend {
    cursor: pointer;
    color: #3bb6f1;
    position: relative;
    top: -9px;
    font-size: 10px;
    left: 2px;
}