.card-bloks-shadow {
    box-shadow: 0 0 3px 1px #5d5d5d4f;
    border: 0!important;
}

.additions {
    background-color: #fff;
    box-shadow: 0 0 3px 1px #5d5d5d4f;
    margin-bottom: 10px;
    padding: 0 15px;
    border-radius: 3px;
    background-clip: padding-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    font-size: 14px;
}


/* Selects */

.modal .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.modal .dropdown-toggle {
    width: 100%!important;
}

.additions-choice {
    display: flex;
}

.additions-choice .datepicker {
    color: #999;
    background-color: #fff!important;
    border: 1px solid #eaeaea;
    width: 190px;
    height: 34px;
    border-radius: 6px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 4px;
    margin-right: 30px;
}

.additions-choice .datepicker::placeholder {
    color: #999;
}

.dropdown-toggle {
    background-color: #fff!important;
    border: 1px solid #eaeaea;
    width: 190px!important;
    height: 34px;
    border-radius: 6px;
    padding-top: 3px;
}

.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle:active {
    outline: none!important;
}

.dropdown-menu.show~.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle:active {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, .5)!important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #f4f8ff96;
}

.dropdown-menu {
    padding: 0;
    min-width: 190px!important;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px #00000030;
    border: 1px solid #d3d9df;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #deebff;
    color: #333;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none!important;
}

.custom-checkbox>label {
    cursor: pointer;
}


/* Table */

.addPreset_modal i {
    color: #888;
    cursor: pointer;
}

.type_registr i {
    font-size: 20px;
    color: #FF9800;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #3a89ff;
    background-color: #3a89ff;
}

table#container-table {
    margin-bottom: 0;
    text-align: center;
}

table#container-table thead th,
table#container-table tbody td {
    vertical-align: middle;
}

.select-all {
    cursor: pointer;
}

table#container-table tbody tr.colorize {
    background: #00000013!important;
}

.calc-spend {
    cursor: pointer;
    color: #3bb6f1;
    position: relative;
    top: -9px;
    font-size: 10px;
    left: 2px;
}


/* Footer */

.is-collapsed footer {
    width: 100%;
}

footer {
    width: calc(100% - 240px);
    background-color: #fff;
    background-color: #00000038;
    height: 50px;
    color: #354052!important;
    box-shadow: 0px 0px 2rem 0 rgba(53, 64, 82, .1);
    position: fixed;
    bottom: -50px;
    right: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 800;
    display: none;
}

footer .btns-wrap {
    display: flex;
    height: 100%;
    align-items: center;
}

footer .btns-wrap>button {
    background-color: #3a89ff;
    border-color: #3a89ff;
    margin-left: 15px;
    padding: .175rem .75rem;
}

footer .btns-wrap>.btn-primary:not(:disabled):not(.disabled).active,
footer .btns-wrap>.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #36999f;
    border-color: #329096;
}

footer .btns-wrap>button:hover {
    background-color: #027bdc;
    border-color: #027bdc;
}

footer .btns-wrap .count {
    padding-left: 15px;
}

footer .btns-wrap .count span {
    padding-bottom: 2px;
    padding-top: 1px;
    padding-right: 4px;
    padding-left: 3px;
    background-color: #3a89ff;
    border-radius: 4px;
    color: white;
}

footer .dropup .dropdown-toggle::after {
    border-bottom: .3em solid #ffffff;
}

footer .dropdown-toggle::after {
    border-top: .3em solid #ffffff;
}

footer .dropdown-toggle {
    border: 1px solid #3a89ff;
    background-color: #3a89ff!important;
    color: white!important;
}

footer .dropdown-toggle:hover {
    background-color: #027bdc!important;
    border-color: #027bdc;
}

footer .dropdown {
    margin-left: 15px!important;
}


/* ===== DATEPICKER CALENDAR =====*/

label {
    position: relative;
    display: block;
}

label>input {
    height: 38px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
}


/*Bootstrap Calendar*/

.datepicker {
    border-radius: 0;
    padding: 0;
}

.datepicker-days table thead,
.datepicker-days table tbody,
.datepicker-days table tfoot {
    padding: 10px;
    display: list-item;
}

.datepicker-days table thead,
.datepicker-months table thead,
.datepicker-years table thead,
.datepicker-decades table thead,
.datepicker-centuries table thead {
    background: #DEEBFF;
    color: #ffffff;
    border-radius: 0;
}

.datepicker-days table thead tr:nth-child(2n+0) td,
.datepicker-days table thead tr:nth-child(2n+0) th {
    border-radius: 3px;
}

.datepicker-days table thead tr:nth-child(3n+0) {
    text-transform: uppercase;
    font-weight: 300 !important;
    font-size: 12px;
    color: #212529;
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 11px 13px;
}

.datepicker-months table thead td,
.datepicker-months table thead th,
.datepicker-years table thead td,
.datepicker-years table thead th,
.datepicker-decades table thead td,
.datepicker-decades table thead th,
.datepicker-centuries table thead td,
.datepicker-centuries table thead th {
    border-radius: 0;
}

.datepicker td,
.datepicker th {
    border-radius: 50%;
    padding: 0 12px;
}

.datepicker-days table thead,
.datepicker-months table thead,
.datepicker-years table thead,
.datepicker-decades table thead,
.datepicker-centuries table thead {
    background: #DEEBFF;
    color: #ffffff;
    border-radius: 0;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-image: none;
}

.datepicker .prev,
.datepicker .next {
    color: #212529;
    transition: 0.3s;
    width: 37px;
    height: 37px;
}

.datepicker .prev:hover,
.datepicker .next:hover {
    background: transparent;
    color: rgba(255, 255, 255, 0.99);
    font-size: 21px;
}

.datepicker .datepicker-switch {
    font-size: 24px;
    font-weight: 400;
    transition: 0.3s;
    color: #212529;
}

.datepicker .datepicker-switch:hover {
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
}

.datepicker table tr td span {
    border-radius: 2px;
    margin: 3%;
    width: 27%;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
    background-color: #DEEBFF;
    background-image: none;
}

.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.datepicker-dropdown.datepicker-orient-top:before {
    border-top: 7px solid rgba(0, 0, 0, .1);
}

.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
    background-color: rgb(69, 101, 150);
}