.card-bloks-shadow {
    box-shadow: 0 0 3px 1px #5d5d5d4f;
    border: 0 !important;
}

.card {
    padding: 15px;
    margin-bottom: 2rem;
    box-shadow: 0 0 3px 1px #b7b7b74f;
    border: 0;
}

/* Selects */

.modal .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.modal .dropdown-toggle {
    width: 100% !important;
}

.custom-checkbox>label {
    cursor: pointer;
}

/* Table */

.addPreset_modal i {
    color: #888;
    cursor: pointer;
}

.type_registr i {
    font-size: 20px;
    color: #FF9800;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #3a89ff;
    background-color: #3a89ff;
}

table#mainTable {
    margin-bottom: 0;
    text-align: center;
}

table#mainTable thead th,
table#mainTable tbody td {
    vertical-align: middle;
}