.card {
    padding: 15px;
    margin-bottom: 2rem;
    box-shadow: 0 0 3px 1px #b7b7b74f;
    /*box-shadow: 0 0 0.875rem 0 rgba(53, 64, 82, .05);*/
    border: 0;
}
/*styles modal*/
ul{
    list-style-type: none;
}
.task-direction{
    display: flex;
}
.modal-border .completed-tasks:not(:last-child){
    border-bottom: 1px solid #ebeef1;
    margin-bottom: 20px;
}
.task-name{
    padding: 10px 0 0;
}
.task-headline{
    align-items: center;
    display: flex;
}
.task-headline h5{
    font-size: 1rem;
    font-weight: 600;
    color: #495057;
    margin-bottom: 0;
}