
.stages-btn button {
    border: 0;
}

/*Input modal*/

.form-br {
    border: 0;
    background-image: linear-gradient(0deg, #e0e5ea 1px, rgba(0, 0, 0, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, .26) 1px, transparent 0);
}

.form-br:hover,
.form-br:focus {
    background-image: linear-gradient(0deg, #47bac1 1px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, .26) 1px, transparent 0);
    background-size: 100% 100%, 100% 100%;
    transition-duration: .3s;
}

.form-br:hover,
.form-br:focus {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}

.stages-btn button {
    border: 0;
    /*background-image: linear-gradient(0deg,#e0e5ea 1px,rgba(0,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);*/
}

.stages-btn button :hover,
.stages-btn button :focus {
    border: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}

.stages-btn .btn-light:hover {
    border: 0;
}


.add-btn {
    color: #fff;
    background-color: #36999f;
    border-color: #36999f;
}

.add-btn:not(:disabled):not(.disabled):active,
.add-btn:focus,
.add-btn:hover {
    color: #fff;
    background-color: #39a2a9;
    border-color: #39a2a9;
}

.proxy-add {
    display: flex;
    justify-content: space-between;
}

.proxy-fr-wrap {
    width: 50%;
}

.stage-bl-wrap {
    display: flex;
    align-items: flex-end;
    padding: 0 0 10px;
}

.modal-ic {
    width: 20px;
}

.stage-icon {
    color: #6c757d;
    width: 30px;
    margin-bottom: 5px;
}

.stage-s {
    width: 85%;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #47bac1;
    background-color: #47bac1;
}

.ft-icon {
    width: 18px;
    color: #fff;
    margin-left: 5px;
}

@media (max-width: 519px) {
    .proxy-fr-wrap {
        width: 100%;
    }

    .proxy-add {
        justify-content: center;
        flex-wrap: wrap;
    }

    .stage-bl-wrap {
        justify-content: center;
    }
}