/*:focus {*/
    /*outline: none!important;*/
/*}*/

/*.btn.focus,*/
/*.btn:focus {*/
    /*outline: none;*/
    /*box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);*/
/*}*/


/*============ STAFF head tab styles ==============*/

/*.nav-tabs {*/
    /*border-bottom: 0 solid #dee2e6;*/
/*}*/

/*.staff-tabs:focus,*/
/*.staff-tabs:hover {*/
    /*color: #495057;*/
    /*background-color: #ffffff14;*/
    /*border-color: transparent;*/
    /*box-shadow: 3px -1px 3px -1px #b7b7b74f, -3px -1px 3px -1px #b7b7b74f*/
/*}*/

/*.staff-tabs:active {*/
    /*color: #495057;*/
    /*background-color: #fff;*/
/*}*/

/*.staff-tabs {*/
    /*font-size: 14px;*/
    /*color: #495057;*/
/*}*/

/*.staff-department {*/
    /*display: flex;*/
    /*margin-bottom: 15px;*/
/*}*/

/*.staff-fa {*/
    /*background-color: #babcbf;*/
    /*color: #fff;*/
    /*border-radius: 4px;*/
    /*padding: 5px 9px;*/
    /*outline: none;*/
/*}*/

/*.staff-fa:hover {*/
    /*background-color: #babcbf;*/
    /*color: #fff;*/
/*}*/

/*.staff-fa:focus {*/
    /*outline: none;*/
/*}*/

/*.staff-tab {*/
    /*justify-content: start;*/
/*}*/

/*.head-line-staff {*/
    /*position: absolute;*/
    /*left: 15px;*/
    /*top: -20px;*/
/*}*/

/*.nav-tabs .nav-item {*/
    /*margin-bottom: -1px;*/
    /*z-index: 100;*/
/*}*/


/*========== STAFF head tab styles the end ===============*/


/*================ select styles header===================*/

.additions {
    background-color: #fff;
    box-shadow: 0 0 3px 1px #b7b7b74f;
    margin-bottom: 5px;
    padding: 5px 15px;
    border-radius: 10px;
    background-clip: padding-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.bootstrap-select>.dropdown-toggle {
    color: #999;
}

#stages-btn .btn-light:not(:disabled):not(.disabled):active,
.show>#stages-btn.btn-light.dropdown-toggle {
    color: #999;
    background-color: #fefefe;
    border: 1px solid transparent;
    outline: none;
}

.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    color: #999;
    background-color: #fefefe;
    border: 1px solid #ededee;
    outline: none;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: 0 auto -webkit-focus-ring-color!important;
    outline-offset: -2px;
    color: #999;
    background-color: #fefefe;
    border: 1px solid #ededee;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #deebff;
    color: #333;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #f4f8ff96;
}

.bootstrap-select .dropdown-menu {
    border-color: #ededee;
}

.btn-light {
    color: #999;
    background-color: #fefefe;
    border: 1px solid #ededee;
}

.btn-light:hover {
    border: 1px solid #ededee;
    background-color: #fefefe;
}


/*=================== select the end styles =======================*/


/*=================== select table styles =======================*/

/*.card {*/
    /*padding: 15px;*/
    /*margin-bottom: 2rem;*/
    /*box-shadow: 0 0 0.875rem 0 rgba(53, 64, 82, .05);*/
/*}*/

/*.table {*/
    /*color: #495057;*/
/*}*/

/*.table-striped tbody tr:nth-of-type(odd) {*/
    /*background-color: #f8f9fa;*/
/*}*/

/*.table thead th {*/
    /*vertical-align: bottom;*/
    /*border-bottom: 2px solid #dee2e6;*/
/*}*/

/*.table td,*/
/*.table th {*/
    /*padding: .45rem .75rem;*/
    /*vertical-align: top;*/
    /*border-top: 0 solid #dee2e6;*/
/*}*/

/*table tbody tr:hover {*/
    /*background: #00000013!important;*/
/*}*/

/*.staff-tab .staff-tabs.active {*/
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
    /*color: #495057;*/
    /*background-color: #fff;*/
    /*border-color: transparent;*/
    /*box-shadow: 3px -1px 3px -1px #b7b7b74f, -3px -1px 3px -1px #b7b7b74f*/
/*}*/

/*.staff-tab .staff-tabs:hover {*/
    /*border-color: transparent;*/
/*}*/

/*.staff-t {*/
    /*border-bottom-left-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
    /*box-shadow: 0 0 3px 1px #b7b7b74f;*/
    /*border: 0 solid rgba(0, 0, 0, .125);*/
/*}*/

/*[type=button]:not(:disabled),*/
/*[type=reset]:not(:disabled),*/
/*[type=submit]:not(:disabled),*/
/*button:not(:disabled) {*/
    /*outline: none;*/
/*}*/

.btn-mini {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0 solid #6c757d;
    padding: 1px 5px;
    font-size: .835rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

/*.feather {*/
    /*width: 16px;*/
    /*height: 16px;*/
/*}*/

/*.setting-offers button {*/
    /*margin: 0 2px;*/
/*}*/

/*.btn-outline-edit,*/
/*.btn-outline-lock {*/
    /*color: #6c757d;*/
/*}*/

/*.btn-outline-edit:hover {*/
    /*color: #a180da;*/
/*}*/
/*.btn-outline-lock:hover {*/
    /*color: #5b7dff;*/
/*}*/


/*=================== select table the end styles =======================*/

.modal-header {
    background: #fff;
}

.modal-header h5 {
    color: #000;
}

.close {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

#stages-btn button {
    border: 1px solid transparent;
}

#stages-btn .btn-light:hover {
    border: 1px solid transparent;
}

#stages-btn .btn-light:hover,
#stages-btn.btn-light:focus {
    border: 1px solid transparent;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

.modal-staff-f {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
}

