:focus {
    outline: none!important;
}

.btn.focus,
.btn:focus {
    outline: none;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}

body {
    margin: 0;
    font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
    font-size: .875rem;
}


/*============ STAFF head tab styles ==============*/

.nav-tabs {
    border-bottom: 0 solid #dee2e6;
}

.staff-tabs:focus,
.staff-tabs:hover {
    color: #495057;
    background-color: #ffffff14;
    border-color: #e9ecef #e9ecef #dee2e6;
}

.staff-tabs:active {
    color: #495057;
    background-color: #fff;
}

.staff-tabs {
    font-size: 14px;
    color: #495057;
}

.staff-department {
    display: flex;
    margin-bottom: 15px;
}

.staff-fa {
    color: #262f3d;
    border: 1px solid transparent;
    padding: 3px 6px;
    outline: none;
}

.staff-fa:hover {
    color: #007bff;
    border: 1px solid #ffffff45;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 5px -1px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px -1px rgba(255, 255, 255, 1);
}

.staff-fa:focus {
    outline: none;
}

.staff-tab {
    justify-content: flex-end;
}

.head-line-staff {
    position: absolute;
    left: 15px;
    top: -20px;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}


/*========== STAFF head tab styles the end ===============*/


/*================ select styles header===================*/

.additions{
    background-color: #fff;
    box-shadow: 0 0 3px 1px #b7b7b74f;
    margin-bottom: 5px;
    padding: 0 15px;
    border-radius: 3px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    font-size: 14px;
}
.bootstrap-select>.dropdown-toggle {
    color: #999;
}

.btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #999;
    background-color: #fefefe;
    border: 1px solid #d0d6db;
    outline: none;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: 0 auto -webkit-focus-ring-color!important;
    outline-offset: -2px;
    color: #212529;
    background-color: #fefefe;
    border: 1px solid #d0d6db;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #deebff;
    color: #333;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #f4f8ff96;
}
.btn-light {
    color: #999;
    background-color: #fefefe;
    border: 1px solid #d0d6db;
}
.btn-light:hover{
    border: 1px solid #d0d6db;
    background-color: #fefefe;
}
.staff-fa:hover {
    color: #47bac1;
}

/*=================== select the end styles =======================*/


/*=================== select table styles =======================*/

.card {
    padding: 15px;
    margin-bottom: 2rem;
    box-shadow: 0 0 0.875rem 0 rgba(53, 64, 82, .05);
}

.table {
    color: #495057;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td,
.table th {
    padding: .45rem .75rem;
    vertical-align: top;
    border-top: 0 solid #dee2e6;
}

table tbody tr:hover {
    background: #00000013!important;
}

.staff-t {
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem 0 0.25rem 0.25rem;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    outline: none;
}

.btn-mini {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0 solid #6c757d;
    padding: 1px 5px;
    font-size: .835rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.feather {
    width: 16px;
    height: 16px;
}

.setting-offers button {
    margin: 0 2px;
}

.btn-outline-edit,
.btn-outline-add {
    color: #6c757d;
}

.btn-outline-edit:hover,
.btn-outline-add:hover {
    color: #212529;
}


/*=================== select table the end styles =======================*/

.modal-header {
    background: #fff;
}

.modal-header h5 {
    color: #000;
}

.close {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

.modal-staff-f {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
}