input {outline:none;}
:focus{
    outline: none;
}
.form-control:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}
.row-flex {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.thumb{
    box-shadow: 0 0 3px 1px #b7b7b74f;
    border-radius: 4px;
    background-color: #ecf3e6;
    height: calc(100% - 15px);
    padding:10px;
}
.bg-stages-bl{
    background-color: #fff;
    padding-bottom: 35px;
}
.stages-headline{
    margin: 10px 0 15px;
}

.stage-pd{
    padding-right: 0!important;
}
.stage-mr{
    margin: 0 -6px;
}
.stages-headline h5{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #495057;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebeef1;
}
.stage-bl-wrap{
    display: flex;
    align-items: flex-end;
}
.stage-icon{
    color: #8f8888;
    width: 30px;
    margin-bottom: 5px;
}
.stage-icon:hover{
    color: #17a1b7;
}

.stage-s{
    width: 85%;
}
.stage-btn{
    display: flex;
    justify-content: center;
    color: #47bac1;
}
.stage-btn a{
    color: #47bac1;
}
.stage-btn a:hover{
    color: #262f3d;
}
.feather-plus-circle{
    width: 25px!important;
    height: 25px!important;
}
.task-list{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.task-list span{
    color: #495061;
    font-size: 12px;
    width: 100%;
    display: block;
}
.task-ic{
    width: 15px;
    height: 26px;
    color: #495057;
}
.task-wrap{
    list-style: none;
    padding: 0 15px;
}
.stages-contant-bl ol{
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: #6c757dcf!important;
}
.task-wrap li a{
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: #6c757d!important;
}
.task-add{
    background-color: #17a1b7;
    padding: 2px 7px 0;
    color: #fff;
}
.task-add:hover{
    background-color: #262f3d;
    color: #fff;
}
/*================ select styles header===================*/

.additions{
    background-color: #fff;
    box-shadow: 0 0 3px 1px #b7b7b74f;
    margin-bottom: 5px;
    padding: 0 15px;
    border-radius: 3px;
    background-clip: padding-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    font-size: 14px;
}
.bootstrap-select>.dropdown-toggle {
    color: #999;
}
.btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #999;
    background-color: #fefefe;
    outline: none;
}
.btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    background-color: #fefefe;
    outline: none;
    border-color: #ededee;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: 0 auto -webkit-focus-ring-color!important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #deebff;
    color: #333;
}
.bootstrap-select .dropdown-menu {
    border-color: #ededee;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #f4f8ff96;
}
.btn-light {
    color: #999;
    background-color: #fefefe;
    border: 1px solid #ededee;
}
.btn-light:hover{
    border: 1px solid #ededee;
    background-color: #fefefe;
}
.staff-fa {
    background-color: #babcbf;
    color: #fff;
    border-radius: 4px;
    padding: 5px 9px;
    outline: none;
}

.staff-fa:hover {
    background-color: #babcbf;
    color: #fff;
}

/*Input modal*/
.form-br {
    border: 0;
    background-image: linear-gradient(0deg,#e0e5ea 1px,rgba(0,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.form-br:hover,
.form-br:focus {
    background-image: linear-gradient(0deg,#47bac1 1px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
    background-size: 100% 100%,100% 100%;
    transition-duration: .3s;
}
.form-br:hover,
.form-br:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}
.stages-btn button {
    border: 0;
    background-image: linear-gradient(0deg,#e0e5ea 1px,rgba(0,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.stages-btn button :hover,
.stages-btn button :focus {
    border: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}
.stages-btn .btn-light:hover {
    border: 0;
}
.bl-pd{
    padding-right: 0;
}

