    .sidebar-content {
        background: #fff;
        -webkit-transition: margin-left 0.3s ease-in-out, left 0.3s ease-in-out, margin-right 0.3s ease-in-out, right 0.3s ease-in-out;
        transition: margin-left 0.3s ease-in-out, left 0.3s ease-in-out, margin-right 0.3s ease-in-out, right 0.3s ease-in-out;
        height: 100%;
        min-height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    
    .wrapper {
        display: flex;
        width: 100%;
    }
    
    main {
        padding: 50px 0px 15px;
    }
    
    .is-collapsed .page-container {
        padding-left: 0px;
    }
    
    .is-collapsed .header {
        width: calc(100%);
    }
    
    .is-collapsed .sidebar {
        margin-left: -250px;
    }
    
    .sidebar {
        min-width: 250px;
        max-width: 250px;
        margin-left: 0;
        z-index: 9999;
    }
    
    .page-container {
        width: 100%;
        min-height: 100vh;
        padding-left: 240px;
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }
    
    .sidebar {
        height: 100%;
        position: fixed;
        min-width: 240px;
        max-width: 240px;
        color: #292828;
        z-index: 999;
        overflow: hidden;
        transition: all .3s;
        border-right: 1px solid rgba(0, 0, 0, .0625);
    }
    
    .sidebar-brand,
    .sidebar-brand:hover {
        padding: 10px;
        background: #28304e;
        font-size: 1.175rem;
        font-weight: 500;
        color: #fff;
        width: 100%;
        display: block;
        text-decoration: none;
    }
    
    .button-start-work {
        text-transform: uppercase;
    }
    
    .sidebar-item {
        color: #495890;
    }
    
    .align-middle {
        vertical-align: middle !important;
    }
    
    .button-start-work {
        box-shadow: 0 0 4px 1px #272626d9;
        cursor: pointer;
        padding: 2px 15px;
        border-radius: 2px;
        border: 1px solid #ffffff3d;
    }
    
    .exit {
        cursor: pointer;
        padding: 0px 10px;
    }
    
    .sidebar-user {
        padding: 10px;
        background: #bfbfbf70;
        color: #28304e;
        text-align: center;
    }
    
    .sidebar-nav {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-flex: 1;
        flex: 1;
        background: #fff;
        overflow: overlay;
    }
    
    .sidebar-nav::-webkit-scrollbar {
        width: 0px;
        background: rgba(255, 255, 255, 0.0);
    }
    
    .header-menu .nav-item {
        cursor: pointer;
        padding: 0px 10px;
        border-right: 1px solid #ffffffa6;
    }
    
    .header-menu .nb-f:hover {
        border-bottom: 1px solid #ffffffa6;
    }
    
    .header-menu .start-work:hover .button-start-work {
        background: #a5a2a2;
        transition: 0.3s;
    }
    
    .header-menu .start-work {
        cursor: pointer;
        padding: 0px 10px;
        border-right: 1px solid #ffffffa6;
    }
    
    body {
        margin: 0;
        font-family: "Hind Vadodara", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #3e4676;
        text-align: left;
        background-color: #f4f7fc;
    }
    
    .nb-aer {
        padding-right: 15px;
        font-size: 16px;
        font-weight: 200;
    }
    
    .sidebar-user img {
        width: 64px;
        height: 64px;
    }
    
    .sidebar-link,
    a.sidebar-link {
        display: block;
        padding: 8px 10px;
        margin: 0 0.5rem;
        color: inherit;
        font-weight: 400;
        background: transparent;
        border-radius: 0.2rem;
        -webkit-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
        position: relative;
        text-decoration: none;
        cursor: pointer;
    }
    
    .sidebar-header {
        background: transparent;
        color: #adb5bd;
        padding: 0.375rem 1.5rem;
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: none;
    }
    
    .header {
        min-height: 50px;
        color: white;
        background-color: #28304e;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, .0625);
        margin-bottom: 0;
        padding: 5px 10px;
        position: fixed;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        width: calc(100% - 240px);
        z-index: 800;
    }
    
    .dx-r {
        float: right;
    }
    
    .dr-r {
        padding-right: 6px;
    }
    
    .nb-f {
        font-size: 16px;
    }
    
    .wrapper:before {
        width: 100%;
        height: 264px;
        position: absolute;
        top: 0;
        left: 0;
        background: #28304e;
        content: " ";
        z-index: 0;
    }
    
    .nav-item .indicator {
        background: #f7bc06;
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: block;
        height: 9px;
        width: 9px;
        position: absolute;
        top: 0;
        right: 0;
        -webkit-transition: top .1s ease-out;
        transition: top .1s ease-out;
    }
    
    .sidebar-badge {
        position: absolute;
        right: 30px;
        top: 10px;
    }
    
    table tbody tr:hover {
        background: rgb(205, 203, 216)!important;
    }
    
    .badge {
        font-size: 90%!important;
    }
    
    .sidebar-item:hover {
        background: #e9ecef;
    }
    
    .sidebar-toggle {
        cursor: pointer;
    }
    
    sup {
        top: -0.5em;
        color: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        padding: 2px 4px;
        font-size: 11px;
        font-weight: bold;
        background: #f7bc06;
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.05)
    }
    
    @media (max-width: 1000px) {
        .header {
            position: relative;
            width: 100%;
            align-items: start;
            height: 70px;
            flex-flow: wrap;
        }
        .page-container {
            padding-left: 0px;
        }
    }