:focus {
    outline: none!important;
}
ul{
    list-style-type: none;
}

.btn.focus,
.btn:focus {
    outline: none;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}
/*fonts icon in tables*/
.feather {
    width: 16px;
    height: 16px;
}
.setting-offers button {
    margin: 0 2px;
}

.btn-outline-edit,
.btn-outline-lock {
    color: #6c757d;
}

.btn-outline-edit:hover {
    color: #a180da;
}
.btn-outline-lock:hover {
    color: #5b7dff;
}
.title-page{
    color: #000;
    font-size: 21px;
    margin-bottom: 1rem;
}

/*====== styles button ========*/

.btn-secondary{
    color: #fff;
    background-color: #babcbf;
    border-color: #babcbf;
    margin-right: 15px;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #aaadb1;
    border-color: #aaadb1;
}

/*====== styles button the end ========*/


/* ======== all  style table ========*/

.card {
    padding: 15px;
    margin-bottom: 2rem;
    box-shadow: 0 0 3px 1px #b7b7b74f;
    /*box-shadow: 0 0 0.875rem 0 rgba(53, 64, 82, .05);*/
    border: 0;
}

.table-headline {
    color: #3e4676;
    font-size: 17px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e9ea;
}

.table {
    color: #495057;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa!important;
}

.table thead tr th {
    font-weight: 600;
    color: #495057;
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}
.table td,
.table th {
    padding: .45rem .75rem;
    vertical-align: top;
    border-top: 0 solid #dee2e6;
}

.table thead tr th {
    font-family: Nunito;
    font-weight: 700;
}

.table tbody tr td {
    font-family: Nunito;
    font-weight: 400;
    vertical-align: middle;
}

table tbody tr:hover {
    background: #00000013!important;
}
.status-active {
    font-size: 13px;
    background: #44c744;
    padding: 2px 5px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}
.status-no-active {
    font-size: 13px;
    font-weight: 600;
    background: #ec6868;
    padding: 2px 5px;
    border-radius: 4px;
    color: white;
}
.custom-control {
    min-height: 1.4rem;
}

/* ======== THE END all  style table ========*/


/*============ styles ALL head TAB  (pages staff and task)==============*/

.nav-tabs {
    border-bottom: 0 solid #dee2e6;
}

.staff-tabs:focus,
.staff-tabs:hover {
    color: #495057;
    background-color: #ffffff14;
    border-color: transparent;
    box-shadow: 3px -1px 3px -1px #b7b7b74f, -3px -1px 3px -1px #b7b7b74f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.staff-tabs:active {
    color: #495057;
    background-color: #fff;
}

.staff-tabs {
    font-size: 14px;
    color: #495057;
}

.staff-department {
    display: flex;
    margin-bottom: 15px;
}

.staff-fa {
    background-color: #babcbf;
    color: #fff;
    border-radius: 4px;
    padding: 5px 9px;
    outline: none;
}

.staff-fa:hover {
    background-color: #babcbf;
    color: #fff;
}

.staff-fa:focus {
    outline: none;
}

.staff-tab {
    justify-content: start;
}

.head-line-staff {
    position: absolute;
    left: 15px;
    top: -20px;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
    z-index: 100;
}

.staff-tab .staff-tabs.active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #495057;
    background-color: #fff;
    border-color: transparent;
    box-shadow: 3px -1px 3px -1px #b7b7b74f, -3px -1px 3px -1px #b7b7b74f
}

.staff-tab .staff-tabs:hover {
    border-color: transparent;
}

.staff-t {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 3px 1px #b7b7b74f;
    border: 0 solid rgba(0, 0, 0, .125);
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    outline: none;
}


/*========== the end styles All head TAB (pages staff and task)===============*/

/*======== styles modal all ======*/

.close {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
.modal-header h5 {
    color: #495057;
}