.new-task-wrap{
    width: 70%;
    margin: 15px auto;

}

.add-btn {
    color: #fff;
    background-color: #36999f;
    border-color: #36999f;
}
.add-btn:not(:disabled):not(.disabled):active, .add-btn:focus, .add-btn:hover {
    color: #fff;
    background-color: #39a2a9;
    border-color: #39a2a9;
}
.form-control:focus {
    border-color: #47bac1;
}
/*Input modal*/
.form-br,
.stages-btn{
    border: 0;
    background-image: linear-gradient(0deg,#ccc 1px,rgba(0,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.form-br:hover,
.form-br:focus {
    background-image: linear-gradient(0deg,#47bac1 1px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
    background-size: 100% 100%,100% 100%;
    transition-duration: .3s;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}
.form-br:hover,
.form-br:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}

#stages-btn .btn-light:not(:disabled):not(.disabled):active, .show>#stages-btn.btn-light.dropdown-toggle {
    color: #999;
    background-color: #fefefe;
    border: 1px solid transparent;
    outline: none;
}
#stages-btn{
    border-bottom: 1px solid #ccc;
}
#stages-btn:hover,
#stages-btn:active,
#stages-btn:focus{
    border-bottom: 1px solid #47bac1;
}
#stages-btn button {
    border: 1px solid transparent;
}
#stages-btn .btn-light:hover {
    border: 1px solid transparent;

}
#stages-btn .btn-light:hover,
#stages-btn.btn-light:focus {
    border: 1px solid transparent;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}
input[type="text"]{
    color: #a9a9a9;
}
input[type="text"]::-webkit-input-placeholder {
    color: #a9a9a9;}
input[type="text"]::-moz-placeholder {
    color: #a9a9a9;}
textarea.form-control {
    margin-top: 10px;
}
.form-add{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-fr-wrap{
    width: 50%;
}
.form-bt-wrap{
    width: 50%;
}
.form-but-wrap{
    width: 100%;
    padding-right: 20px;
}
.form-bl-wrap{
    display: flex;
    align-items: flex-end;
    padding: 0 0 10px;
}
.form-bt-wrap{
    display: flex;
    align-items: start;
    padding: 0 0 10px;
}
.form-but-wrap{
    display: flex;
    justify-content: flex-end;
}
.modal-ic{
    width: 20px;
}
.stage-icon{
    color: #6c757d;
    width: 30px;
    margin-bottom: 5px;
}
.stage-icon-txt{
    color: #6c757d;
    width: 30px;
    margin-top: 30px;
}
.tasks-s{
    width: 100%;
    padding-right: 20px;
}

.ft-icon{
    width: 18px;
    color: #fff;
    margin-left: 5px;
}
.label-input100 {
    font-size: 12px;
    color: #6c757d;
    font-weight: 600;
    line-height: 1.5;
    padding-left: 7px;
}
