.new-task-wrap{
    width: 70%;
    margin: 15px auto;

}
.additions-choice-wrap{
    display: flex;
    justify-content: start;
}
.add-mr{
    margin: 0 10px 0 0;
}
.add-btn {
    color: #fff;
    background-color: #36999f;
    border-color: #36999f;
}
.add-btn:not(:disabled):not(.disabled):active, .add-btn:focus, .add-btn:hover {
    color: #fff;
    background-color: #39a2a9;
    border-color: #39a2a9;
}
.form-control:focus {
    border-color: #47bac1;
}
/*Input modal*/
.form-br,
.stages-btn{
    border: 0;
    background-image: linear-gradient(0deg,#ccc 1px,rgba(0,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.form-br:hover,
.form-br:focus {
    background-image: linear-gradient(0deg,#47bac1 1px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
    background-size: 100% 100%,100% 100%;
    transition-duration: .3s;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}
.form-br:hover,
.form-br:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}


.bootstrap-select>.dropdown-toggle {
    color: #a9a9a9;
}
#stages-btn .btn-light:not(:disabled):not(.disabled):active, .show>#stages-btn.btn-light.dropdown-toggle {
    color: #999;
    background-color: #fefefe;
    border: 1px solid transparent;
    outline: none;
}
#stages-btn{
    border-bottom: 1px solid #ccc;
}
#stages-btn:hover,
#stages-btn:active,
#stages-btn:focus{
    border-bottom: 1px solid #47bac1;
}
#stages-btn button {
    border: 1px solid transparent;
}
#stages-btn .btn-light:hover {
    border: 1px solid transparent;

}
#stages-btn .btn-light:hover,
#stages-btn.btn-light:focus {
    border: 1px solid transparent;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}


.btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #999;
    background-color: #fefefe;
    border: 1px solid #ededee;
    outline: none;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: 0 auto -webkit-focus-ring-color!important;
    outline-offset: -2px;
    color: #999;
    background-color: #fefefe;
    border: 1px solid #ededee;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #deebff;
    color: #333;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #f4f8ff96;
}
.bootstrap-select .dropdown-menu {
    border-color: #ededee;
}
.btn-light {
    color: #999;
    background-color: #fefefe;
    border: 1px solid #ededee;
}
.btn-light:hover{
    border: 1px solid #ededee;
    background-color: #fefefe;
}
input[type="text"]{
    color: #a9a9a9;
}
input[type="text"]::-webkit-input-placeholder {
    color: #a9a9a9;}
input[type="text"]::-moz-placeholder {
    color: #a9a9a9;}
.feather {
    width: 16px;
    height: 20px;
}
textarea.form-control {
    margin-top: 10px;
}
.form-add{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-fr-wrap{
    width: 50%;
}
.form-bt-wrap{
    width: 50%;
}
.form-but-wrap{
    width: 100%;
    padding-right: 20px;
}
.form-bl-wrap{
    display: flex;
    align-items: flex-end;
    padding: 0 0 10px;
}
.form-bt-wrap{
    display: flex;
    align-items: start;
    padding: 0 0 10px;
}
.form-but-wrap{
    display: flex;
    justify-content: flex-end;
}
.modal-ic{
    width: 20px;
}
.stage-icon{
    color: #6c757d;
    width: 30px;
    margin-bottom: 5px;
}
.stage-icon-txt{
    color: #6c757d;
    width: 30px;
    margin-top: 30px;
}
.tasks-s{
    width: 100%;
    padding-right: 20px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #47bac1;
    background-color:#47bac1;
}
.ft-icon{
    width: 18px;
    color: #fff;
    margin-left: 5px;
}
.label-input100 {
    font-size: 12px;
    color: #6c757d;
    font-weight: 600;
    line-height: 1.5;
    padding-left: 7px;
}

@media (max-width: 991px) {
    .new-task-wrap {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .additions-choice-wrap{
        flex-wrap: wrap;
    }
    .add-mr{
        margin:0 10px 5px 0;
    }
}
@media (max-width: 547px) {
    .new-task-wrap {
        width: 100%;
    }
    .form-fr-wrap {
        width: 100%;
    }
    .form-bl-wrap {
        justify-content: center;
    }
    .form-bt-wrap {
        width: 100%;
    }
    .form-bt-wrap {
        justify-content: center;
    }
}
@media (max-width: 519px) {
    .additions-choice-wrap {
        justify-content: center;
    }
}
@media (max-width: 380px) {
    .staff-tabs {
        font-size: 12px;
    }
}


/* ===== DATEPICKER CALENDAR =====*/

label {
    position: relative;
    display: block;
    margin-bottom: 0;
}
label > input {
    height: 38px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
}

/*Bootstrap Calendar*/
.datepicker {
    border-radius: 0;
    padding: 0;
}
.datepicker-days table thead, .datepicker-days table tbody, .datepicker-days table tfoot {
    padding: 10px;
    display: list-item;
}
.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: #47bac1;
    color: #ffffff;
    border-radius: 0;
}
.datepicker-days table thead tr:nth-child(2n+0) td, .datepicker-days table thead tr:nth-child(2n+0) th {
    border-radius: 3px;
}
.datepicker-days table thead tr:nth-child(3n+0) {
    text-transform: uppercase;
    font-weight: 300 !important;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 11px 13px;
}
.datepicker-months table thead td, .datepicker-months table thead th, .datepicker-years table thead td, .datepicker-years table thead th, .datepicker-decades table thead td, .datepicker-decades table thead th, .datepicker-centuries table thead td, .datepicker-centuries table thead th {
    border-radius: 0;
}
.datepicker td, .datepicker th {
    border-radius: 50%;
    padding: 0 12px;
}
.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: #47bac1;
    color: #ffffff;
    border-radius: 0;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-image: none;
}
.datepicker .prev, .datepicker .next {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    width: 37px;
    height: 37px;
}
.datepicker .prev:hover, .datepicker .next:hover {
    background: transparent;
    color: rgba(255, 255, 255, 0.99);
    font-size: 21px;
}
.datepicker .datepicker-switch {
    font-size: 24px;
    font-weight: 400;
    transition: 0.3s;
}
.datepicker .datepicker-switch:hover {
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
}
.datepicker table tr td span {
    border-radius: 2px;
    margin: 3%;
    width: 27%;
}
.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
    background-color: #47bac1;
    background-image: none;
}
.dropdown-menu {
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.datepicker-dropdown.datepicker-orient-top:before {
    border-top: 7px solid rgba(0,0,0,.1);
}
.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active {
    background-color: #47bac1;
}